	<div class="title-field">
	  <%= form.label :title %> :
	  <%= form.text_field :title %>
	</div>
	<br> 

	<div class="location-field">
	  <%= form.label :location %> :
	  <%= form.text_field :location %>
	</div>
	</br>

	<div class="guest-field">
	  <%= form.label :number_of_guest %> : 
	  <%= form.number_field :number_of_guest %>
	</div>
	</br>

	<div class="room-field">
		<%= form.label :type_of_room %> : 
		<%= form.select "type_of_room", options_for_select([["Select Room", ""],["Private Room", "Private Room"],["Entire Place", "Entire Place"],["Shared Room", "Shared Room"]]) , {}, {:class => "form-control"} %>
	</div>

	</br>

	<div class="category-field">
		<%= form.label :category %> : 
		<%= form.select "category", options_for_select([["Select Category", ""], ["Smoker", "Smoker"], ["Non-Smoker", "Non-Smoker"], ["Pet", "Pet"]]) , {}, {:class => "form-control"}%>
	</div>
	</br>

	<div class="price-field">
	  <%= form.label :price_per_night %> : 
	  <%= form.number_field :price %>
	</div>

