<br> 
<% @merge.order("id ASC").each do |i| %> 
	<div class="card card-cascade">

		    <!--Card image-->
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  	       <div id="carouselExampleControls-<%= i.id %>" class="carousel slide" data-ride="carousel">
		  	       		  <div class="carousel-inner" role="listbox">

		  	       		  	<div class="carousel-item active">
		  		       		  	<% if i.photos[0] == nil %>
		  		       		  		<%= image_tag "https://www.landmarklondon.co.uk/uploads/files/Executive-Room.jpg", class: "picture" %>
		  		       		  	</div>
		  		       		  	<div class="carousel-item">
		  		       		  		<%= image_tag "https://thumbs.dreamstime.com/z/five-star-hotel-room-2688844.jpg", class: "picture" %>
		  	       		  		</div>
		  		       		  	<% else %>
		  		       		  	  <%= image_tag "#{i.photos[0].url}", class: "d-block img-fluid"%>
		  		       		  	</div>
		  			       		  <% i.photos[1..-1].each do |j| %>
		  			       		    <div class="carousel-item">
		  			       		      <%= image_tag j.url, class: "d-block img-fluid"%>
		  			       		    </div>
		  			       			<% end %>
		  		       			<% end %>	
		  	       		  </div>
		  		       		  <a class="carousel-control-prev" href="#carouselExampleControls-<%= i.id %>" role="button" data-slide="prev">
		  		       		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  		       		    <span class="sr-only">Previous</span>
		  		       		  </a>
		  		       		  <a class="carousel-control-next" href="#carouselExampleControls-<%= i.id %>" role="button" data-slide="next">
		  		       		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  		       		    <span class="sr-only">Next</span>
		  		       		  </a>
		  	       </div>
		  		</div>
		    <!--/.Card image-->

		    <!--Card content-->
		    <div class="card-body">
		        <!--Title-->
		        <h4 class="card-title" style="font-weight: bold;"><%= i.title %> </h4>
		        <!--Text-->
		        <p class="card-text">Location: <%= i.location %></p>
		        <p class="card-text">Number of guest: <%= i.number_of_guest %></p>
		        <p class="card-text">Price per night: $<%= i.price %></p>
		        <p class="card-text">Type of room: <%= i.type_of_room %></p>
		        <p class="card-text">Category: <%= i.category %></p>
		        <%= link_to "edit", edit_listing_path(i.id) %>
		        <%= link_to "delete", listing_path(i.id), method: :delete %>
		    </div>
		    <!--/.Card content-->
		    <h10 class="hosted">Hosted By:<%= i.user.name %></h10><br>
		    <% if i.verify == true %>
		    	<%= link_to "Verified by admin", verify_path(i.id), method: :post %> 
		    <% else %>
		    	<%= link_to "Not verified by admin", verify_path(i.id), method: :post %> 
		    <% end %> 
		</div>
		<br> 
<% end %> 

<%= will_paginate @merge %>
