<nav class="navbar">

  <ul class="active">
    <li class="current-item"><%= link_to "Home", root_path %></li>
    <% if signed_in? -%>
      <% if current_user.avatar.url == nil %>
        <li> <%= link_to image_tag("images.png", class: "sample_avatar"), profile_path%></li>
      <% else %>
        <li> <%= link_to image_tag("#{current_user.avatar.url}", class: "avatar"), profile_path%></li>
      <% end %>

      <li> <%= link_to t(".sign_out"), sign_out_path, method: :delete, class: "sign_out" %></li>
    <% else %>
      <li> <%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
      <li> <%= link_to t(".sign_up"), sign_up_path %></li>
<!--       <li> <%= link_to "Show all listings", "/listings " %> </li> -->
    <% end -%>
    	<li><%= link_to "About Us", "#" %></li>
  </ul>
</nav> 