
<%= form_for :search, url: search_path, html: { class: "search_form"} , method: :get do |form| %>

	<div class='general-field'>
	<%= form.text_field :title, placeholder: "Search location here", name: 'search[general]' , class: "form-control"%>
	</div>

   <div class="room-field">
   	<%= form.select "type", options_for_select([["Select Room", ""],["Private Room", "Private Room"],["Entire Place", "Entire Place"],["Shared Room", "Shared Room"]]) , {}, {:class => "form-control"} %>
   </div>

	<div class="category-field">
	<%= form.select "category", options_for_select([["Select Category", ""], ["Smoker", "Smoker"], ["Non-Smoker", "Non-Smoker"], ["Pet", "Pet"]]) , {}, {:class => "form-control"}%>
	</div>
	
	<div class="form-group row">
	  <%= form.number_field :guest, class: "form-control" %>
	</div>

   <%= form.submit 'Search', :class => 'btn btn-primary'%>
<% end %>
